<!DOCTYPE html>

<html >
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Bài tập thực hành lập trình Web buổi 1 bài tập 1">
        <meta name="keywords" content="Lập trình Web cơ bản">
        <title>Dự án công nút giao thông An Phú: Xe cộ dày đặc, thi công dự án hối hả</title>
    </head>
    <body>
        <h1>Dự án công nút giao thông An Phú: Xe cộ dày đặc, thi công dự án hối hả</h1>
        <h3>
            Nhiều dòng xe máy, xe hơi, xe tải và xe vận chuyển container thường xuyên lưu thông dày đặc tại nút giao thông An Phú.

            Trước áp lực điểm nghẽn, các chủ đầu tư thi công các gói thầu nút giao thông An Phú cũng đẩy nhanh tiến độ.
        </h3>
        <p>
            Tại hai gói thầu hầm chui trên đường Mai Chi Thọ và cầu Giồng Ông Tố (đường vào cảng Cát Lái, TP. Thủ Đức, TP.HCM), hàng trăm công nhân và xe cơ giới hạng nặng hối hả thi công khoan, đóng cọc, đổ bê tông sàn

            Chẳng hạn, tại khu vực hầm chui trên đường Mai Chí Thọ, nhiều xe cơ giới, khoan lỗ, san lấp lát nền và hàng chục công nhân điều khiển phương tiện định hình những khung sắt lót sàn hầm chui. Những mẻ bê tông liên tục được đổ xuống nền đang trong giai đoạn định hình hầm chui.

            Còn tại công trình xây dựng cầu Giồng Ông Tố trên trên đường Nguyễn Thị Định, những trụ cầu đã được hình thành hai bên bờ. Hàng trăm công nhân đang đào xới, lắp đặt những khung thép trụ cầu lớn đang chuẩn bị đổ bê tông.

            Một công nhân cho biết hiện công trình đang được thi công gấp rút từ sáng đến tối. Vào những lúc đổ bê tông trụ cầu, hàng trăm người túc trực suốt 24/24 để đảm bảo thi công đúng tiến độ.

            Dự án nút giao An Phú là công trình giao thông trọng điểm của TP.HCM nhằm giải quyết tình trạng tắc nghẽn giao thông khu vực cửa ngõ phía Đông TP với kinh phí đầu tư hơn 4.000 tỉ đồng.

        </p>
    </body>
</html>
</body>
</html>
